@use './sass/desktop';
@use './sass/mobile';

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

$red-hat: 'Red Hat Display';

body, html {
  margin: 0;
  width: 1440px;
  height: 900px;
  font-family: $red-hat;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Pale-blue;
}

#root {

  background-color: $Pale-blue;
}